<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawlowski.shopisto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_shopisto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_shopisto_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MojaListaZakupów">
        <activity
            android:name=".account.privacy_policy_activity.PrivacyPolicyActivity"
            android:exported="true"
            android:parentActivityName=".account.register_activity.RegisterActivity"/>

        <activity
            android:name=".add_friend_activity.AddFriendActivity"
            android:parentActivityName=".share_activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme2" />

        <activity
            android:name=".splash_screen.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".share_activity.ShareActivity"
            android:parentActivityName=".list_activity.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseProductsFromGroupActivity"
            android:parentActivityName=".list_activity.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".choose_group_activity.ChooseGroupActivity"
            android:parentActivityName=".list_activity.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme" />
        <activity
            android:name=".group_activity.GroupActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme" />
        <activity
            android:name=".add_group_activity.AddGroupActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".add_products_to_list_activity.AddProductsToListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".list_activity.ListActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarTheme" />
        <activity
            android:name=".list_creating_activity.ListCreatingActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.reset_password_activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Logowanie" />
        <activity
            android:name=".account.register_activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Logowanie" />
        <activity
            android:name=".account.login_activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Logowanie" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6726961092828838~1552511084" />
    </application>

</manifest>